html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: rgb(235, 255, 9);
  background: linear-gradient(48deg, rgba(235, 255, 9, 1) 0%, rgba(24, 191, 203, 0.6545211834733893) 43%, rgba(0, 212, 255, 1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.player {
  max-width: 750px;
  overflow: hidden;
  position: relative;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 80px;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__controls{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.4s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}

.player:hover .player__controls{
  transform: translateY(0);
}

.player__controls > * {
  flex: 1;
}

.player:hover .progress {
  height: 15px;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 8px;
  transition: height 0.4s;
  cursor: ew-resize;

}

.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 50%;
}

.player__slider {
  width: 8px;
  height: 34px;
  color: white;
}
